.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cage {
    width: 300px;
    height: 300px;
    border: 6px solid #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1rem 0;
}

.chickenOne {
    width: 100px;
    height: 100px;
    animation: float 2s ease-in-out infinite;
    animation-delay: 1s;
}

.chickenOneDead {
    width: 100px;
    height: 100px;
    transform: rotateX('180');
}

.chickenTwo {
    width: 100px;
    height: 100px;
    transform: rotateY(180deg);
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

.buttonContainersWrapper {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: 0.2s;
    border-radius: 4px;
    background: #fff;
    outline: none;
    border: none;
    transition: 0.2s;
}

.button:hover {
    filter: brightness(0.90);
}

.buttonText {
    color: #000;
    font-weight: 500;
    font-size: 1rem;
}

.loginButtonContainer {
    right: 1rem;
    top: 1rem;
    position: fixed;
    border-radius: 15px;
}   

.betsContainer {
    top: 1rem;
    position: fixed;
    display: flex;
}

.betsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 6px solid #fff;
    padding: 0.5rem;
    width: 300px;
    margin: 0 6px;
}

.myGains {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid #fff;
    padding: 0.5rem;
    width: 300px;
    margin: 0 6px;
}

.betC1 {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.betC2 {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myBets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.betText {
    text-align: center;
}

.smoke {
    margin: auto;
    width: 200px;
    height: 200px;
    animation: float 2s ease-in-out infinite;
}