.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cage {
    width: 300px;
    height: 300px;
    border: 6px solid #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1rem 0;
}

.chickenOne {
    width: 100px;
    height: 100px;
    animation: float 2s ease-in-out infinite;
    animation-delay: 1s;
}

.chickenOneDead {
    width: 100px;
    height: 100px;
    transform: rotateX('180');
}

.chickenTwo {
    width: 100px;
    height: 100px;
    transform: rotateY(180deg);
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }


.buttons {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.chickenInfoContainer {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chickenInfo {
    margin: 0.5rem 1rem;
}